<div id="search_form_one_flight">
  <h1>Find the best flight and save your money</h1>
  <%= form_tag "/flight_respons", remote: :true do %>
    <%= text_field_tag :origin, nil, {placeholder: "KUL", id: "origin"} %>
    <%= text_field_tag :destination, nil, {placeholder: "HKT", id: "destination"}  %>
    <%= date_field_tag :date, nil, {placeholder: "Date of flight", id: "date"} %>
    <%= text_field_tag :preferredCabin, nil, {placeholder: "COACH, PREMIUM_COACH, BUSINESS, FIRST", id: "preferredCabin"} %>
    <%= number_field_tag :maxStops, nil, {placeholder: "Max stops", id: "maxStops"} %>
    <%= number_field_tag :maxConnectionDuration, nil, {placeholder: "Max Connection Duration", id: "maxConnectionDuration"} %>
    <%= number_field_tag :adultCount, 1, {placeholder: "Adult", id: "adultCount"} %>
    <%= number_field_tag :seniorCount, 0, {placeholder: "Senior", id: "seniorCount"} %>
    <%= number_field_tag :childCount, 0, {placeholder: "Child", id: "childCount"} %>
    <%= number_field_tag :infantInLapCount, 0, {placeholder: "Infant", id: "infantInLapCount"} %>
    <%= number_field_tag :infantInSeatCount, 0, {placeholder: "Seat for infant", id: "infantInSeatCount"} %>
    <%= label_tag :refundable %>
    <%= check_box_tag :refundable, 1, false, {id: "refundable"} %>
    <%= number_field_tag :solutions, 20, {placeholder: "Result", id: "solutions"} %>
    <%= submit_tag "Find flights", id: "search_one_flight" %>
  <% end %>
</div>

<div id="" class='hidden'>

</div>
